# Entornos virtuales
venv/
env/
ENV/
.venv/
.env/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# Archivos de entorno
.env
.env.*

# Archivos de logs o temporales
*.log
*.sqlite3
*.sqlite
*.db-journal
*.bak
*.tmp

# IDEs y editores comunes
.vscode/
.idea/
*.swp

# Archivos del sistema
.DS_Store
Thumbs.db

# Compilados / cache
build/
dist/
*.egg-info/